@import './../../../node_modules/swiper/dist/css/swiper.min.css';
@import "./../constants";

.main-slide {
    position: absolute !important;
    top: 0;
    width: 100vw;
    height: 100%;

    &__next-prev {
        position: absolute;
        width: 100%;
        top: 0;
        height: 100vh;
    }

    &__next-prev-wrapper {
        position: relative;
        height: 100%;
    }

    &__slide-content {
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
        padding: 30px;
        color: $WHITE;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    &__slide-content-title {
        font-family: Avenir_Next_Bold, sans-serif;
        font-size: 40px;
        text-align: center;
    }

    &__slide-content-sub-title {
        font-size: 22px;
        margin-bottom: 1.5rem;
        text-align: center;

        @media (min-width: map_get($MEDIA, SM)) {
            margin-bottom: 3rem;
            margin-top: .5rem;
        }

    }

    &__slide-content-button {
        @include button;
        width: 100%;

        @media (min-width: map_get($MEDIA, SM)) {
            width: 33%;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            width: initial;
            min-width: 170px;
        }
    }

    &__slide-img-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 100%;
        justify-content: center;

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, rgba($BLACK, .8), transparent, transparent);
        }
    }

    &__slide-img {
        position: relative;
        height: 100%;
        width: auto;
        max-width: initial;

        @media (min-width: map_get($MEDIA, LG)) {
            min-height: 100%;
            width: auto;
            min-width: 100%;
        }
    }
}




