@import "./../constants";

.star-rating {
  display: inline-block;
}

.star-rating__ico {
  float: right;
  padding-left: 8px;
  cursor: pointer;
  color: $WHITE;
}

.star-rating__ico:last-child {
  padding-left: 0;
}

.star-rating__input {
  display: none;
}

.star-rating__ico:hover:before,
.star-rating__ico:hover ~ .star-rating__ico:before,
.star-rating__input:checked ~ .star-rating__ico:before {
  color: $ORANGE;
}