@import "./../constants";

.contacts-form {

    color: $WHITE;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: map_get($MEDIA, SM)) {
        align-items: center;
    }

    @media (min-width: map_get($MEDIA, MD)) {
        align-items: initial;
    }

    &__message-after{
        width: 100%;
        text-align: center;
        display: none;
    }

    &__title {

        font-size: 14px;
        margin: 2rem 0;

        @media (min-width: map_get($MEDIA, SM)) {
            font-family: Avenir_Next_Bold, sans-serif;
            font-size: 20px;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            margin-top: 0;
            text-align: left;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            font-family: Avenir_Next_Regular, sans-serif;
            font-size: 14px;
            margin-bottom: 1rem;
        }
    }

    &__forma{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;


        @media (min-width: map_get($MEDIA, SM)) {
            flex-direction: row;
            justify-content: space-between;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            flex-direction: column;
            justify-content: initial;
        }
    }

    &__item{
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        text-align: center;

        @media (min-width: map_get($MEDIA, SM)) {
            width: 31%;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            width: initial;
            justify-content: initial;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            margin-bottom: .75rem;
        }


        &--full-width{
            width: 100%;
        }
    }

    &__textarea, &__input{
        padding: 12px;
        flex:1;
        font-family: Avenir_Next_Regular, sans-serif;
    }

    &__submit{
        @include button;
        border: none;
        font-size: 14px;
        text-transform: lowercase;
        padding: .75rem 4rem;
        width: 100%;

        @media (min-width: map_get($MEDIA, SM)) {
            width: initial;
            justify-self: center;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            width: 100%;
        }

    }

    &__select-wrapper {
        box-sizing: border-box;
        width: 56px;
        position: relative;
        background-color: white;

        &::before {
            content: '';
            display: block;
            width: 1px;
            height: 100%;
            background-color: $DARK-70;
            position: absolute;
            top: 0;
            right: 0;
            pointer-events: none;
        }

        &::after {
            content: '';
            pointer-events: none;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: $DARK-70 transparent transparent transparent;
            position: absolute;
            top: 50%;
            right: 10px;
            z-index: 1;
            margin-top: -2px;
        }
    }

    &__select {
        flex: 1;
        -webkit-appearance: none;
        -moz-appearance: none;
        font-size: .75rem;
        background: none;
        width: 100%;
        height: 100%;
        padding: 12px;
        border: none;
        color: $DARK-70;

        &:focus {
            outline: none;
        }

        &:hover {
            cursor: pointer;
        }
    }
}