@import "./../constants";


.about-us-slider {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 3rem;
    margin-top: 3rem;

    @media (min-width: map_get($MEDIA, SM)) {
        height: 600px;
    }

    &__container{
        height: 100%;
        width: 100%;
        top: 0;
        position: absolute;
    }

    &__container-wrapper{
        height: 100%;
        position:relative;
    }

    &__wrapper{
        align-items: center;
    }

    &__button-next, &__button-prev{
        display: block;
        top:50%;
    }

    &__slide{

        &.swiper-slide{
            width: 100%;
            background-position: center;
            background-size: cover;
            height: 90%;
            max-width: 100%;
            transition: all .3s;

            @media (min-width: map_get($MEDIA, SM)) {
                max-width: 76%;
            }

            @media (min-width: map_get($MEDIA, LG)) {
                max-width: $MAX-WIDTH * 0.8;
            }

            &-active{
                transform: scale(1.1);

            }

        }
    }
}