@import "./../constants";

.accordion-mixed {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px $DARK-50;
    overflow: hidden;

    @media (min-width: map_get($MEDIA, SM)) {
        flex-direction: row;
        justify-content: space-between;

        &::before {
            display: block;
            position: absolute;
            top: 0;
            height: 48px;
            width: 100%;
            content: "";
            background-color: $LIGHT-10;
            z-index: 0;
        }

    }

    @media (min-width: map_get($MEDIA, SM)) {
        border-radius: 8px;
        justify-content: flex-start;
    }

    &__tab {
        position: relative;
        font-size: 14px;
        flex-shrink: 1;
        background-color: $LIGHT-10;
        color: $DARK;
        display: flex;
        font-weight: bold;
        cursor: pointer;
        border-top: 1px solid $DARK-LIGHT;
        border-bottom: 1px solid $DARK-LIGHT;
        padding: 1rem;


        @media (min-width: map_get($MEDIA, SM)) {
            flex: 1 0 auto;
            background-color: transparent;
            transition: color .3s linear;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            flex: initial;
        }

        &--active {
            background-color: $WHITE;
            color: $GREEN;

            &:after {
                transform: rotate(90deg);
            }
        }

        &:hover {
            color: $GREEN;
        }

        &:after {
            margin-left: 1rem;
            content: '\25BA';
            font-size: 12px;
            display: inline-block;
            transition: transform .4s;
            transform-origin: center center;
        }

        @media (min-width: map_get($MEDIA, SM)) {
            border: none;
            order: -1;
            padding: 1rem 2rem;

            &:after {
                display: none;
            }

        }
    }

    &__content-inner {
        @media (min-width: map_get($MEDIA, SM)) {
            animation: fade-mixed .6s;
        }

    }

    &__content {
        padding: 1.5rem;
        background-color: $WHITE;
        display: none;

        &--active {
            display: block;
            width: 100%;
        }
    }
}

@keyframes fade-mixed {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}



