@import "./../constants";

.map-zoom {
    max-width: initial;
    margin: 0 -1.5rem -1.5rem;
    overflow: hidden;

    @media (min-width: map_get($MEDIA, SM)) {
        max-width: 100%;
        margin: 0;
    }

    &__image {
        width: 100%;
        max-width: initial;
        position: relative;
    }
}