@import "./../constants";

.apartment {
    margin-bottom: 1rem;

    &_width_50 {
        max-width: 50%;
        flex: 1 0 50%;
    }

    @media (min-width: map_get($MEDIA, SM)) {
      max-width: 100%;
      flex: 1 0 100%;
    }

    &__header {
        display: flex;
    }

    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }

    &__title {
        font-size: 14px;
        font-weight: bold;
        color: $DARK;
        margin-bottom: .25rem;

        @media (min-width: map_get($MEDIA, SM)) {
            font-size: 13px;
        }

        @media (min-width: map_get($MEDIA, MD)) {
            font-size: 15px;
        }

        @media (min-width: map_get($MEDIA, LG)) {
            font-size: 16px;
        }
    }

    &__item {
        list-style: disc;
        color: $DARK;
        font-size: 12px;
        margin-left: 40px;

        @media (min-width: map_get($MEDIA, MD)) {
            font-size: 14px;
        }

        &_font_11{
            @media (max-width: map_get($MEDIA, MD)) {
                font-size: 11px;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: row;

        @media (min-width: map_get($MEDIA, SM)) {
            flex-direction: column;
        }
    }
}
