@import "./../constants";

.reviews {
    position: relative;

    @media (min-width: map_get($MEDIA, SM)) {
        padding: {
            left: 5rem;
            right: 5rem;
            bottom: 2rem;
        }
    ;
    }

    &__button-prev, &__button-next {
        display: none;
        @media (min-width: map_get($MEDIA, LG)) {
            display: block;
        }
        &:focus {
            outline: none;
        }
    }

    &__button-next {
        right: 2rem;
        top: 40%;
        background-image: url(./../../icons/right-arrow-gray.svg) !important;
    }

    &__button-prev {
        left: 2rem;
        top: 40%;
        background-image: url(./../../icons/left-arrow-gray.svg) !important;
    }

    &__item {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 0 10px;
    }

    &__item-name {
        color: $DARK;
        margin: 1rem 0;
    }
}