@import "./../fonts/AvenirNextCyr/stylesheet";
@import "./constants";
@import "./reset";
@import "./../font-awesome/fontawesome.scss";
@import "./../font-awesome/fa-solid.scss";

body {
    font-family: Avenir_Next_Regular, sans-serif;
}

.b-bgc-wrapper{
    background-color: $LIGHT;
}

.b-container {
    width: 100%;
    padding:{
        right: 2rem;
        left: 2rem;
    }

    @media (min-width: map-get($MEDIA, LG)) {
        max-width: $MAX-WIDTH;
        margin: {
            left: auto;
            right: auto;
        }
    }
}

.b-p-25 {
    padding: .25rem;
}