@import "./../constants";


.footer-bottom {
    background-color: $BLUE-NIGHT;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem 2rem;
    }

    @media (min-width: map-get($MEDIA, LG)) {
        &__content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__wrapper-left {
            width: 33.33333%;
        }
        &__wrapper-right {
            width: 66.666666%;
        }
    }
}