@import "./../constants";

.house-booking{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;



    @media (min-width: map_get($MEDIA, SM)) {
        flex-direction: row;
        padding: 2.5rem 0;
        margin: 0 1.5rem;
        border-top: 1px solid $DARK-LIGHT;
        width: 100%;
    }

    &__button{
        @include button;
        order: 1;
        margin-top: .75rem;

        @media (min-width: map_get($MEDIA, SM)) {
            order: 0;
            margin-top: 0;
        }
    }

    &__info{
        color: $DARK-70;
        text-align: center;
        &::after{
            content: 'с человека';
            margin-left: 8px;
        }

        @media (min-width: map_get($MEDIA, SM)) {
            display: flex;
            align-items: center;
            margin-left: 3rem;
        }
    }

    &__price-per-men{

        color: $RED;
        font-weight: bold;

        &::after{
            content: 'byn';
            text-transform: uppercase;
            margin-left: 4px;
        }
    }
}